<header class="header">
    <div class="container">
        <div class="header__content row">
            <div class="header__left">
                <div class="header__logo">
                    <a href="/">
                        <img src="/images/header/logo.png" alt="">
                    </a>
                </div>
            </div>
            <div class="header__right row">
                <nav class="header__nav">
                    <ul class="header__list row">
                        <% if(user){ %> 

                            <li class="header__item"><a class="header__link" href="#"><%= user.email %> d</a></li>
                        <% } else { %> 
                        <li class="header__item"><a class="header__link" href="#">You can't log in</a></li>
                        <% } %> 
                        <li class="header__item"><a class="header__link" href="#">Download</a></li>
                        <li class="header__item"><a class="header__link" href="#">Help</a></li>
                    </ul>
                </nav>
                <div class="header__auth">
                    <a href="/logIn" class="header__btn">Log In</a>
                    <a href="/signUp" class="header__btn">Sign Up</a>
                </div>
            </div>
        </div>
    </div>
</header>
<script>
    const user = document.querySelector('.album-header__user')
    const dropDown = document.querySelector('.album-header__dropdown')
    user.addEventListener('click', () => {
      dropDown.classList.toggle('active')
    })
  </script>