<section class="moods">
    <div class="container">
        <div class="moods__content">
            <div class="moods__title">Moods</div>
            <div class="moods__sector row">
                <div class="moods__box">
                    <div class="moods__name">party</div>
                </div>
                <div class="moods__box">
                    <div class="moods__name">party</div>
                </div>
                <div class="moods__box">
                    <div class="moods__name">party</div>
                </div>
                <div class="moods__box">
                    <div class="moods__name">party</div>
                </div>
                <div class="moods__box">
                    <div class="moods__name">party</div>
                </div>
                <div class="moods__box">
                    <div class="moods__name">party</div>
                </div>
                <div class="moods__box">
                    <div class="moods__name">party</div>
                </div>
                <div class="moods__box">
                    <div class="moods__name">party</div>
                </div>
                <div class="moods__box">
                    <div class="moods__name">party</div>
                </div>
                <div class="moods__box">
                    <div class="moods__name">party</div>
                </div>
                <div class="moods__box">
                    <div class="moods__name">party</div>
                </div>
                <div class="moods__box">
                    <div class="moods__name">party</div>
                </div>
            </div>
        </div>
    </div>
</section>